.GameItem {
  width: 320px;
  height: 300px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  margin-right: 50px;
}

.GameItem:not(:last-child) {
  margin-bottom: 30px;
}

.GameItem__details {
  padding: 10px 20px;
}

.GameItem__title {
  font-size: 18px;
  font-weight: bold;
}

.GameItem__genre {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}


.GameItem__description {
  margin-top: 10px;
  font-size: 14px;
}

.GameItem__buy {
  position: absolute;
  right: 0;
  bottom: -12px;
}